<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jukebox.NET.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
		</DbProviderFactories>
	</system.data>
	<userSettings>
        <Jukebox.NET.Client.Properties.Settings>
               <setting name="Autostart" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="MediaPlayer" serializeAs="String">
                      <value>MPlayer</value>
               </setting>
               <setting name="PathToExe" serializeAs="String">
                      <value>mplayer.exe</value>
               </setting>
               <setting name="MediaDisplayLifeSpan" serializeAs="String">
                      <value>15000</value>
               </setting>
               <setting name="RequestDisplayLifeSpan" serializeAs="String">
                      <value>5000</value>
               </setting>
        </Jukebox.NET.Client.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
